/* --------------Pagina Contacto------------ */

#h1-main{
    margin-top: 12%;
}

#textarea-contacto{
    margin-top: 45px;
}

#archivo-contacto{
    margin-top: 14%;
}
#div-p{
    margin-top: 15%;
}
#img-scroll{
        img{    
            width: 180px;
            margin-top: 7%;
            margin-bottom: 5%;}
        }

#archivo-contacto{
    label{
        font-size: 25px;
        text-align: center;
    }
}

#article2-main{
    margin-top: 5%;
}

#valoranos{
    margin:60px 0px;
    margin-bottom: 20%;
}