/* ---------PAGINA IMAGENES----- */
#parrafo-img{
    margin-top: 30px;
    align-self: center;
    color: $color-secundario;
    transition: 1.5s;
    &:hover{
        transition: 1.5s;
        transform: scale(1.1);
    }
}
#parrafo-img{
    span{color: $color-principal;}
}

#imagenes{
    padding: 5px;
    margin-top: 30px;
    height: 450px;
    img{object-fit: cover;
        margin: 4px;
        transition: 1;
    &:hover{
            margin: 5px;
            transition: 1;
            transform: scale(1.1);
        }
    }   
}

@keyframes movimiento-img{
    from{
        background-position: top right;
    }
    to{
        background-position: bottom left;
    }
}



#no-main{
    margin-top: 10%;
    margin-bottom: 17%;
}

#card-img{
        width: 35rem;
        height: 650px;
        opacity: 100%;
        transition: 2s;
        
        &:hover {
            opacity: 60%;
            transition: 0.5s;
            transform: scale(0.9);
        }
    }

#pq-elegirnos{
    margin-bottom: 5%;
    box-shadow: 1px 1px 5px black;
    background: linear-gradient($color-difuminado-black,$color-difuminado-black),url(/imagenes/backgroud-mercadolibre.png),fixed;
    background-size: 250%;
    background-repeat: no-repeat;
    animation: movimiento-img 10s ease-in-out infinite alternate;
}
@keyframes movimiento-img{
    from{
        background-position: top right;
    }
    to{
        background-position: bottom left;
    }
}

#article-recorrido{
    margin:5% 0;
}
#card-recorrido{
    transition: 2s;
    box-shadow: 2px 2px 15px 5px $color-secundario;
    p{
        font-size: 1.5rem;
    }
    &:hover{
        transition: 2s;
        transform: scale(1.1);
    }
}


#article-recorrido{
    img{transition: 1s;} 
}

#valoraciones{
    margin: 10% 0;
    img{
    height: auto;
    margin: 8px;
    object-fit: contain;
    transition: 3s;
    box-shadow: 2px 5px 10px 1px $color-secundario;
    border-radius: 20px;
    opacity: 40%;
    &:active{
        opacity: 100%;
        transition: 1s;
        transform: scale(1.1);
    }
} }
#label-sub{
    font-size: 19px;
}
