@mixin margin-t-b {
    margin-top: 1%;
    margin-bottom: 2%;
    color: rgba(255, 0, 0, 0.537);
}

@mixin iframe {
    opacity: 28%;
    margin-bottom: 10%;
    transition: ease-in-out;
    transition: 2s;
    transform: scale(1.1);

    &:hover {
        transition: 1s;
        opacity: 100%;
    }
}

@mixin imagen-footer {
    padding-top: 30px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.255);

    img {
        opacity: 0.4;
        transition: 1s;

        &:hover {
            border-bottom: 2px solid rgb(255, 255, 255);
            opacity: 1;
            transition: 1s;
        }
    }
}

@mixin ayuda-ayuda {
    ul {
        li {
            a {
                transition: 0.5s;
                font-size: 20px;
            }
        }
    }

    transition: 0.5s;
    font-size: 20px;
}

@mixin copyright-footer {
    p {
        font-size: 15px;
        padding-top: 10px;
        transition: 2s;
    }

    &:hover {
        color: $color-gray;
        font-size: 16px;
        transition: 0.7s;
    }
}

.logo-box  {
    width: 110px;
}

#bienvenidos-contenedor {
    margin-top: 3%;
    p{ text-transform:uppercase;
    letter-spacing: 0.5em;
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 4px double rgb(0, 0, 0);
    border-width: 5px 0;
    padding: 2rem 0;
    }
}
#img-scroll-index {
    height: 150px;
    margin-top: 5%;
    margin-bottom: 10%;
}

#animacion-texto {
        font: bold 5rem "Oswald", sans-serif;
        padding: 5%;
        display: flex;
        justify-content: center;
        /*-----Background Imagen----------*/ 
        background: url(/imagenes/animated-text-fill.png) repeat-y;
        -webkit-background-clip: text;
        background-clip: text;
        /*-----Animacion Background-------*/ 
        -webkit-text-fill-color: transparent;
        animation: animacion 8s ease-in-out infinite alternate;
        /*-----Aceleracion de la animacion-----*/
    }
    @keyframes animacion {
    0% {background-position: 10% 50%;}
    100% {background-position: 100% 50%;}
}

#article-inicio {
    margin-top: 10%;
    margin-bottom: 5%;
    h1 {
        transition: 1.5s;
        &:hover {
            transform: scale(0.9);
        }
    }
}

#parrafo-inicio {
    @include margin-t-b;
}

#card-gral {
    width: 25rem;
    height: 600px;
    opacity: 40%;
    transition: 1s;

    &:hover {
        opacity: 100%;
        transition: 0.5s;
        transform: scale(0.9);
    }
}

#soporte-plataformas {
    box-shadow: 1px 1px 20px black;
    background: linear-gradient(rgba(5,7,12,0.80),rgba(5,7,12,0.80)), url(/imagenes/todos-los-dispositivos.jpg), fixed;
    background-size: 250%;
    background-repeat: no-repeat;
    animation: movimiento-dispositivos 10s linear alternate infinite;
    margin-top: 15%;
    @keyframes movimiento-dispositivos{
        from{
            background-position: top right;
        }
        to{
            background-position: bottom left;
        }
    }
    .progress{
        width: 35%; 
        box-shadow: 1px 2px 8px 1px black; 
        margin: 20px;
    }
}

#barra-progreso-hotsale {
    margin-top: 1%;
    margin-bottom: 20%;
}

#aside-ofertas{
    label{
        font-family: 'Bungee Shade', cursive;
    }
}

#article-sponsors{
    img{
        width: 100px;
        height: 100px;
        object-fit: contain;
        transition: 0.7s;
        &:hover{
            transition: 0.1s;
            transform: scale(1.1)
        }
    }
}

#navega-map{
    img{
        width: 120px; 
        margin-top: 20px;
    }
}

/* ------------Pagina index| Iframe-------- */

#article2-iframe iframe {
    @include iframe;
}


#soporte {
    a {
        padding: 20px;
        text-decoration: none;
    }
}

#parrafo-aside {
    span {
        margin-bottom: 2%;
        margin-left: 10px;
        color: red;
    }
}

/*-------------Pagina Index|  FOOTER------------ */
footer {
    overflow: hidden;

    ul {
        li {
            margin-bottom: 15px;
            list-style: none;
        }
    }
}

#ayuda-redes-img {
    img {
        width: 80px;
        padding: 3px;
    }
}

#imagen-footer {
    @include imagen-footer;
}

#contenedor-footer {
    border-bottom: 2px solid $color-terciario;
}

#footer-email-textarea {
    transition: 2s;

    &:hover {
        background-color: rgb(250, 248, 248);
        transition: 1s;
        opacity: 0.5;
    }
}

#ayuda-ayuda {
    @include ayuda-ayuda();
}


#copyright-footer {
    @include copyright-footer
}