/* ------PAGINA SEDE---------- */

#article-main-sede{
    margin-top: 10%;
    margin-bottom: 20%;
}

#parada-sede{
    margin-top: 5%;
}

#tiempos-estimados{
    margin-top: 8%;
}

#p-sede {
    p{
        transition: 1s;
    &:hover{    
        color: rgba(255, 0, 0, 0.373);
        transform: scale(1.1);
        transition: 1s;}} 
}

#parada-sede{
    h1{transition: 1s;
    &:hover{    
        transition: 1s;
        transform: scale(1.1);}}
}