/*------Pagina index------------*/ 

@media screen and (min-width:0px) and (max-width:568px){
    
    .logo-box{
        height: 80px;
        object-fit: contain;
    }


    #bienvenidos-contenedor{
        margin-bottom: 8%;
        p{
            font-size: 11px;}
    #animacion-texto{
        /*-----Background Imagen----------*/ 
        background: black;
        -webkit-background-clip: text;
        background-clip: none;
        /*-----Animacion Background-------*/ 
        -webkit-text-fill-color: none;
        animation:none;
        font-size:3rem;}
    }

    #img-scroll-index{
        img{
            height: 90px;
        }
    }

    #article-ilustrativo{
        #card-gral{
            width: 18rem;
            height: 450px;
        }
    }
    #aside-ofertas{
        label{
            font-size: 18px;
        }
        #flechas-negras{
            margin-bottom: 40px;
            img{
                width: 30px;
            }
        }
    }
    #Slider-carousel{
        width: 300px;
        height: 300px;
    }

    #article-sponsors{
        div{
            div{
                height: 40px;
                img{
                margin: 3px;
                width: 40px;  
                }
            }
            
        }
    }
    #article2-iframe{
        #navega-map{
            label{font-size: 13px;}
            img{
                width: 70px;
            }
        }
        h2{
            font-size: 19px;
        }
        iframe{
            width: 290px;
            height: 290px;
        }
    }
    #imagen-footer{
        img{
            width: 90px;
        }
    }
    #soporte-plataformas{
        margin-bottom: 12rem;
    }

}

@media screen and (min-width:569px) and (max-width:768px){

    #bienvenidos-contenedor{
        margin-bottom: 8%;
        p{
        font-size: 14px;
        }
    #animacion-texto{
        font-size:4rem;}
    }

    #img-scroll-index{
        img{
            height: 110px;
        }
    }

    #article-sponsors{
        div{
            div{
                height: 70px;
                img{
                margin: 3px;
                width: 60px;  
                }
            }
            
        }
    }
    #aside-ofertas{
        label{
            font-size: 22px;
        }
        #flechas-negras{
            margin-bottom: 30px;
            img{
                width: 40px;
            }
        }
    }

    #Slider-carousel{
        width: 400px;
        height: 410px;
    }

    #article2-iframe{
    iframe{
        width: 500px;
        height: 250px;
    }
    }
    #soporte-plataformas{
        margin-bottom: 15rem;
    }
}

@media screen and (min-width:769px) and (max-width:992px){
    #img-scroll-index{
        img{
            height: 120px;
        }
    }
    
    #article2-iframe{
        iframe{
            width: 650px;
            height: 250px;
        }
        }
        #Slider-carousel{
            width: 550px;
            height: 570px;
        }
        #aside-ofertas{
            label{
                font-size: 30px;
            }
            #flechas-negras{
                margin-bottom: 30px;
                img{
                    width: 45px;
                }
            }
        }
        #flechas-negras{
            margin-bottom: 30px;
            img{
                width: 40px;
            }
        }
        #article-sponsors{
            div{
                div{
                    height: 65px;
                    img{
                    margin: 3px;
                    width: 60px;  
                    }
                }
                
            }
        }
        #soporte-plataformas{
            margin-bottom: 15rem;
        }
}

@media screen and (min-width:993px){
    #aside-ofertas{
        label{
            font-size: 35px;
        }
    }
    #Slider-carousel{
        width: 750px;
        height: 770px;
    }
    #article-sponsors{
        div{
            div{
                height: 85px;
                img{
                margin: 3px;
                width: 80px;  
                }
            }
            
        }
    }
    #article2-iframe{
        iframe{
            width: 850px;
            height: 250px;
        }
    }

}