/*------Pagina index------------*/ 

@media screen and (min-width:0px) and (max-width:568px){
    
    .logo-box{
        height: 80px;
        object-fit: contain;
    }


    #bienvenidos-contenedor{
        margin-bottom: 8%;
        p{
            font-size: 11px;}
    #animacion-texto{
        /*-----Background Imagen----------*/ 
        background: black;
        -webkit-background-clip: text;
        background-clip: none;
        /*-----Animacion Background-------*/ 
        -webkit-text-fill-color: none;
        animation:none;
        font-size:3rem;}
    }

    #img-scroll-index{
        img{
            height: 90px;
        }
    }

    #article-ilustrativo{
        #card-gral{
            width: 18rem;
            height: 450px;
        }
    }
    #aside-ofertas{
        label{
            font-size: 18px;
        }
        #flechas-negras{
            margin-bottom: 40px;
            img{
                width: 30px;
            }
        }
    }
    #Slider-carousel{
        width: 300px;
        height: 300px;
    }

    #article-sponsors{
        div{
            div{
                height: 40px;
                img{
                margin: 3px;
                width: 40px;  
                }
            }
            
        }
    }
    #article2-iframe{
        #navega-map{
            label{font-size: 13px;}
            img{
                width: 70px;
            }
        }
        h2{
            font-size: 19px;
        }
        iframe{
            width: 290px;
            height: 290px;
        }
    }
    #imagen-footer{
        img{
            width: 90px;
        }
    }
    #soporte-plataformas{
        margin-bottom: 12rem;
    }

}

@media screen and (min-width:569px) and (max-width:768px){

    #bienvenidos-contenedor{
        margin-bottom: 8%;
        p{
        font-size: 14px;
        }
    #animacion-texto{
        font-size:4rem;}
    }

    #img-scroll-index{
        img{
            height: 110px;
        }
    }

    #article-sponsors{
        div{
            div{
                height: 70px;
                img{
                margin: 3px;
                width: 60px;  
                }
            }
            
        }
    }
    #aside-ofertas{
        label{
            font-size: 22px;
        }
        #flechas-negras{
            margin-bottom: 30px;
            img{
                width: 40px;
            }
        }
    }

    #Slider-carousel{
        width: 400px;
        height: 410px;
    }

    #article2-iframe{
    iframe{
        width: 500px;
        height: 250px;
    }
    }
    #soporte-plataformas{
        margin-bottom: 15rem;
    }
}

@media screen and (min-width:769px) and (max-width:992px){
    #img-scroll-index{
        img{
            height: 120px;
        }
    }
    
    #article2-iframe{
        iframe{
            width: 650px;
            height: 250px;
        }
        }
        #Slider-carousel{
            width: 550px;
            height: 570px;
        }
        #aside-ofertas{
            label{
                font-size: 30px;
            }
            #flechas-negras{
                margin-bottom: 30px;
                img{
                    width: 45px;
                }
            }
        }
        #flechas-negras{
            margin-bottom: 30px;
            img{
                width: 40px;
            }
        }
        #article-sponsors{
            div{
                div{
                    height: 65px;
                    img{
                    margin: 3px;
                    width: 60px;  
                    }
                }
                
            }
        }
        #soporte-plataformas{
            margin-bottom: 15rem;
        }
}

@media screen and (min-width:993px){
    #aside-ofertas{
        label{
            font-size: 35px;
        }
    }
    #Slider-carousel{
        width: 750px;
        height: 770px;
    }
    #article-sponsors{
        div{
            div{
                height: 85px;
                img{
                margin: 3px;
                width: 80px;  
                }
            }
            
        }
    }
    #article2-iframe{
        iframe{
            width: 850px;
            height: 250px;
        }
    }
}




/*------------Pagina Imagenes-------------*/

@media screen and (min-width:0px) and (max-width:568px){
    #imagenes{
        img{
        height: 300px;}
    }

    #pq-elegirnos{
        label{
            font-size: 10px;
        }
    }

    #card-recorrido{
        margin-top: 10%;
        width: 15rem;
    }

    #imagen-val{
        width: 220px;
    }

    #valoraciones{
        img{
            width: 270px;
        }
        #label-sub{
            font-size: 12px;
        }
    }

    #section-card{
        #card-img{
        width: 18rem;
        height: 400px;
    }
    }
}

@media screen and (min-width:569px){

    #section-card{
        #card-img{
        width: 30rem;
        height: 550px;
    }
    }

    #card-recorrido{
        margin-top: 10%;
        width: 25rem;
    }

    #imagen-val{
        width: 320px;
    }


    #valoraciones{
        img{
            width: 370px;
        }
    }

}


/*-------------Pagina Stock---------------*/

@media screen and (min-width:0px) and (max-width:568px){
    #imagenes-section{
        width: 280px;
        margin-bottom: 10%;
    }
    
    #card-productos{
        width: 280px; 
        height: 625px;}

    #imagen-val{
        margin-top: 5%;
    }   
}

@media screen and (min-width:569px){
    #imagenes-section{
        width: 520px;
    }
    
    
    #card-productos{
        width: 400px; 
        height: 725px;}

}

/*-----------Pagina Sede--------*/ 

@media screen and (min-width:0px) and (max-width:568px){
    #parada-sede{
        font-size: 12px;
        h1{
            font-size: 17px;
            &:hover{
                transform: scale(0.9);
            }
        }
    }
    #p-sede{
        p{
        &:hover{
        transform: scale(0.9);
        }
        }
    }

    #tiempos-estimados{
        ul{
            font-size: 10px;
        }
    }
    #h2-article{
        font-size: 21px;
    }
    #copyright-footer{
        p{
        font-size: 15px;}
    }
}

@media screen and (min-width:569px) and (max-width:993px){
    #parada-sede{
        font-size: 16px;
        h1{
            font-size: 22px;
            &:hover{
                transform: scale(0.9);
            }
        }
    }
    #p-sede{
        p{
        &:hover{
        transform: scale(0.9);
        }
        }
    }
}


/*-------Pagina Contacto-------*/
@media screen and (min-width:0px) and (max-width:568px){
    #h1-main{
        h1{
            font-size: 23px;
        }
    }

    #h2-contacto{
        font-size: 17px;
    }
    
    #archivo-contacto{
        margin-top: 40%;
        label{
            font-size: 18px;
            text-align: center;
        }
    }
    #img-scroll{
        margin-top: 5%;
        margin-bottom: 10%;
        img{
            width: 100px;
        }
    }
}

